flows.json
[{"id":"7fe1a1c4.c4b31","type":"tab","label":"ECU","disabled":false,"info":""},{"id":"be1a5042.6f02d","type":"ui_gauge","z":"7fe1a1c4.c4b31","name":"RPM Gauge","group":"f2be100a.298e1","order":8,"width":"5","height":"5","gtype":"gage","title":"RPM (Live)","label":"RPM","format":"{{value}}","min":0,"max":"7000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"5000","seg2":"6000","x":1270,"y":40,"wires":[]},{"id":"78964551.00f25c","type":"serial in","z":"7fe1a1c4.c4b31","name":"","serial":"8c7bbfe8.820be","x":70,"y":60,"wires":[["c4bdbf7b.53f2","6d3195e8.9264fc"]]},{"id":"c4bdbf7b.53f2","type":"csv","z":"7fe1a1c4.c4b31","name":"","sep":":","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"messagetype,messagedata","skip":"0","x":210,"y":60,"wires":[["f2ce7484.35ee88"]]},{"id":"89d60510.0ea428","type":"ui_button","z":"7fe1a1c4.c4b31","name":"Live RPM","group":"f2be100a.298e1","order":4,"width":0,"height":0,"passthru":false,"label":"Enable RPM Output","tooltip":"","color":"","bgcolor":"","icon":"","payload":"R\\n","payloadType":"str","topic":"","x":80,"y":360,"wires":[["15f855f7.09bd5a"]]},{"id":"f2ce7484.35ee88","type":"switch","z":"7fe1a1c4.c4b31","name":"","property":"payload[0].messagetype","propertyType":"msg","rules":[{"t":"eq","v":"RPM","vt":"str"},{"t":"eq","v":"THR","vt":"str"},{"t":"eq","v":"ERR","vt":"str"},{"t":"eq","v":"TBF","vt":"str"},{"t":"eq","v":"TBI","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":350,"y":60,"wires":[["78e89a64.5346e4"],["19608bbd.b42634"],["fb8e8080.da6bc"],["f7a6f766.5739c8"],["1a461a98.6afb25"]],"outputLabels":["RPM","THR","IDX","",""]},{"id":"78e89a64.5346e4","type":"change","z":"7fe1a1c4.c4b31","name":"Extract RPM from msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].messagedata","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":40,"wires":[["44ae8a36.4bf6d4"]]},{"id":"44ae8a36.4bf6d4","type":"string","z":"7fe1a1c4.c4b31","name":"Remove Whitespace","methods":[{"name":"trim","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":900,"y":40,"wires":[["be1a5042.6f02d","b82ee48b.276668"]]},{"id":"8872a87.6e56758","type":"ui_gauge","z":"7fe1a1c4.c4b31","name":"Throttle Position","group":"f2be100a.298e1","order":3,"width":"6","height":"5","gtype":"donut","title":"Throttle Position","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1280,"y":120,"wires":[]},{"id":"25fee660.40296a","type":"ui_button","z":"7fe1a1c4.c4b31","name":"Read TPS","group":"f2be100a.298e1","order":2,"width":0,"height":0,"passthru":false,"label":"Read TPS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"pt\\n","payloadType":"str","topic":"","x":90,"y":320,"wires":[["15f855f7.09bd5a"]]},{"id":"15f855f7.09bd5a","type":"serial out","z":"7fe1a1c4.c4b31","name":"","serial":"8c7bbfe8.820be","x":570,"y":420,"wires":[]},{"id":"19608bbd.b42634","type":"change","z":"7fe1a1c4.c4b31","name":"Extract THR from msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].messagedata","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":120,"wires":[["348a3435.a572bc"]]},{"id":"348a3435.a572bc","type":"string","z":"7fe1a1c4.c4b31","name":"Remove Whitespace","methods":[{"name":"trim","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":900,"y":120,"wires":[["8872a87.6e56758"]]},{"id":"b82ee48b.276668","type":"ui_chart","z":"7fe1a1c4.c4b31","name":"","group":"f2be100a.298e1","order":9,"width":"5","height":"5","label":"RPM (30 seconds)","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"7000","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1290,"y":80,"wires":[[]]},{"id":"cdcafd7c.86d82","type":"ui_toast","z":"7fe1a1c4.c4b31","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":1290,"y":160,"wires":[]},{"id":"fb8e8080.da6bc","type":"change","z":"7fe1a1c4.c4b31","name":"Extract ERRfrom msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].messagedata","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":160,"wires":[["1025b00b.aa9c9"]]},{"id":"1025b00b.aa9c9","type":"string","z":"7fe1a1c4.c4b31","name":"Remove Whitespace","methods":[{"name":"trim","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":900,"y":160,"wires":[["cdcafd7c.86d82"]]},{"id":"44cfcdd8.0b9344","type":"ui_button","z":"7fe1a1c4.c4b31","name":"Reset ECU","group":"f2be100a.298e1","order":5,"width":0,"height":0,"passthru":false,"label":"Reset ECU","tooltip":"","color":"","bgcolor":"","icon":"","payload":"S\\n","payloadType":"str","topic":"","x":90,"y":440,"wires":[["15f855f7.09bd5a"]]},{"id":"6145f4b7.04afbc","type":"ui_button","z":"7fe1a1c4.c4b31","name":"Live Index","group":"f2be100a.298e1","order":6,"width":0,"height":0,"passthru":false,"label":"Live Index","tooltip":"","color":"","bgcolor":"","icon":"","payload":"I\\n","payloadType":"str","topic":"","x":90,"y":400,"wires":[["15f855f7.09bd5a"]]},{"id":"944f6455.ea0248","type":"ui_button","z":"7fe1a1c4.c4b31","name":"Dump Fuel Table","group":"f2be100a.298e1","order":7,"width":0,"height":0,"passthru":false,"label":"Dump Fuel Table","tooltip":"","color":"","bgcolor":"","icon":"","payload":"tf\\n","payloadType":"str","topic":"","x":110,"y":480,"wires":[["15f855f7.09bd5a"]]},{"id":"f7a6f766.5739c8","type":"change","z":"7fe1a1c4.c4b31","name":"Extract TBF from msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].messagedata","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":200,"wires":[["92f2b6eb.cc2248"]]},{"id":"92f2b6eb.cc2248","type":"string","z":"7fe1a1c4.c4b31","name":"Remove Whitespace","methods":[{"name":"trim","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":900,"y":200,"wires":[["bdd0f50c.243b78"]]},{"id":"bdd0f50c.243b78","type":"json","z":"7fe1a1c4.c4b31","name":"","property":"payload","action":"","pretty":false,"x":1250,"y":200,"wires":[["f40a2e47.2c9b4"]]},{"id":"f40a2e47.2c9b4","type":"function","z":"7fe1a1c4.c4b31","name":"Fuel Table","func":"var i,j;\nvar fuelmap = \"\";\nfuelmap = fuelmap + \"<table>\";\nfor (i = 0; i < 16; i++) { \n    fuelmap = fuelmap + \"<tr>\";\n\n  splitthing = (msg.payload.slice((i * 16),((i * 16) + 16)));\n  \n    for (j = 0; j < 16; j++) { \n      fuelmap = fuelmap + \"<td>\";  \n        fuelmap = fuelmap + splitthing[j];\n       fuelmap = fuelmap + \"</td>\";\n    }\n    \n    \n \n  fuelmap = fuelmap + \"</tr>\";\n\n}\nfuelmap = fuelmap + \"</table>\";\nmsg.payload = fuelmap;\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":200,"wires":[["993898c2.866478"]]},{"id":"993898c2.866478","type":"ui_template","z":"7fe1a1c4.c4b31","group":"f2be100a.298e1","name":"Fuel","order":8,"width":"18","height":"10","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1530,"y":200,"wires":[[]]},{"id":"9c04d01b.91eca","type":"ui_button","z":"7fe1a1c4.c4b31","name":"Dump IgnitionTable","group":"f2be100a.298e1","order":7,"width":0,"height":0,"passthru":false,"label":"Dump IgnitionTable","tooltip":"","color":"","bgcolor":"","icon":"","payload":"ti\\n","payloadType":"str","topic":"","x":110,"y":520,"wires":[["15f855f7.09bd5a"]]},{"id":"1a461a98.6afb25","type":"change","z":"7fe1a1c4.c4b31","name":"Extract TBI from msg.payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload[0].messagedata","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":650,"y":240,"wires":[["c74f2a69.7faa98"]]},{"id":"c74f2a69.7faa98","type":"string","z":"7fe1a1c4.c4b31","name":"Remove Whitespace","methods":[{"name":"trim","params":[]}],"prop":"payload","propout":"payload","object":"msg","objectout":"msg","x":900,"y":240,"wires":[["9ec35aa.c0eb8a8"]]},{"id":"9ec35aa.c0eb8a8","type":"json","z":"7fe1a1c4.c4b31","name":"","property":"payload","action":"","pretty":false,"x":1250,"y":240,"wires":[["346f0df6.647bb2"]]},{"id":"346f0df6.647bb2","type":"function","z":"7fe1a1c4.c4b31","name":"Ignition Table","func":"var i,j;\nvar ignitionmap = \"\";\nignitionmap = ignitionmap + \"<table>\";\nfor (i = 0; i < 16; i++) { \n    ignitionmap = ignitionmap + \"<tr>\";\n\n  splitthing = (msg.payload.slice((i * 16),((i * 16) + 16)));\n  \n    for (j = 0; j < 16; j++) { \n      ignitionmap = ignitionmap + \"<td>\";  \n        ignitionmap = ignitionmap + splitthing[j];\n       ignitionmap = ignitionmap + \"</td>\";\n    }\n    \n    \n \n  ignitionmap = ignitionmap + \"</tr>\";\n\n}\nignitionmap = ignitionmap + \"</table>\";\nmsg.payload = ignitionmap;\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":240,"wires":[["f3b23d9c.6e83d"]]},{"id":"f3b23d9c.6e83d","type":"ui_template","z":"7fe1a1c4.c4b31","group":"f2be100a.298e1","name":"Ignition","order":8,"width":"18","height":"10","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":1540,"y":240,"wires":[[]]},{"id":"6d3195e8.9264fc","type":"debug","z":"7fe1a1c4.c4b31","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":240,"y":140,"wires":[]},{"id":"f2be100a.298e1","type":"ui_group","z":"","name":"Sensors","tab":"648283b8.aace6c","disp":true,"width":"20","collapse":false},{"id":"8c7bbfe8.820be","type":"serial-port","z":"","serialport":"COM4","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"648283b8.aace6c","type":"ui_tab","z":"","name":"Live Data","icon":"dashboard","disabled":false,"hidden":false}]